<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PassGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PassGen.Properties.Settings>
            <setting name="PrivateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="PassChars" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890</value>
            </setting>
            <setting name="DefaultLength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ForceSpecial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForcedSpecials" serializeAs="String">
                <value>!@#$%^*?</value>
            </setting>
            <setting name="IncludeSpecials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserNameNonCaseSensative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TurnOffBalloon" serializeAs="String">
                <value>False</value>
            </setting>
        </PassGen.Properties.Settings>
    </userSettings>
</configuration>